html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
/* Disable smooth scrolling  */
@media (prefers-reduced-motion: reduce) {
  html {
      scroll-behavior: auto;
  }
}
/* Change color scheme  */
@media (prefers-color-scheme: dark) {
  .grid figure {
      background-color: #333; 
      color: #ffeb3b; 
      border-color: #000; 
  }
}

/* Hide skip link */
a.skip-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}
.skip-link:focus {
  left: 25%;
  transform: translateX(-50%);
  opacity: 1;
}


/* Link heading to index page */
h1 a {
    text-decoration: none; 
    color: inherit;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #8b4513;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
  background-color: #8b4513;
  display: inline-block;
  width: 100%;
} 
nav img {
  width: 100%; 
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  position: static}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  flex-wrap: wrap;
}

.image-hover img {
  width: 100%; /* Ensure the images fill their container */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

.image-hover {
  display: inline-block;
  position: relative;
  width: 30%;
  overflow: hidden  contain absolute position
  height: auto;
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
}
image-hover .img-top,
.image-hover .img-bottom {
    position: relative;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
}
.image-hover:hover .img-top {
    opacity: 0;
}

.image-hover:hover .img-bottom {
    opacity: 1;
}

  /* grid column  styles 
  .grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly; 
    align-items: center; 
    row-gap: 15px; 
  }
  */
.grid {
  display: grid;
 grid-template-columns: 1fr;
  gap: 10px;
}


  /* flex styles */
  .flex {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}
/* Style each column differently */

.grid img:nth-child(3n+1) {
    border: 8px solid blue;
}

.grid img:nth-child(3n+2) {
    border: 8px dashed black;
    position: relative;
    top: 200px;
}

.grid img:nth-child(3n+3) {
    border: 8px solid green;
    position: relative;
    top: -25px;

}
/* Style images to change with screen size */
figcaption {
  margin: 10px;
}
/* First media query (tablet view) uses min-width and triggers at 772 px
*/
@media (min-width: 772px) {
  .grid {
      grid-template-columns: repeat(2, 1fr);
  }

  figure {
      border-radius: 50%; 
  }
    /* The tablet view does use valid CSS to set the lat figure to take up both columns  */
  .grid figure:last-child {
      grid-column: span 2; 
  }
}

/* Computer view */

/* 2nd media query (Large-screen view) uses min-width and triggers at 992 px
*/
@media (min-width: 992px) {
    /* Large screen usses valid CSS to remove border radius from all of the figures */
      figure {
          border-radius: 0%; 
      }
  .grid figure:nth-child(3n) {
      grid-column: span 2; 
      border-radius: 0; 

      }
  }
}